@model List<string>
<p class="alert alert-info">
    @foreach (var role in Model)
    {
        if (Model.LastOrDefault() == role)
        {
            <span>@role</span>    
            return;
        }
        <span>@role</span><span> | </span>
    }
</p>